@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 0;
  height: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px ;
  line-height: 21px ;
  font-style: normal;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.img {
  max-width: 100%;
  height: auto;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
  min-height: 65px;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.logo-link {
  outline: none;
}
.logo {
  width: 139px;
  margin-right: 30px;
  margin-left: 70px;
  margin-bottom: -10px;
  padding: 0;
}

.navigation-list {
  list-style-type: none;
  width: 460px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.navigation-user {
  width: 310px;
  margin-left: auto;
  margin-right: 70px;
  justify-content: flex-end;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link {
  background-image: url('../images/icon/icon-search.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link {
  background-image: url('../images/icon/icon-favorite.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-item {
  height: 66px;
  display: flex;
  align-items: center;
}

.navigation-link {
  display: block;
  padding: 21px 14px 21px 14px ;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
}

.navigation-link:hover {
  background-color: #F2F2F2;
}

.navigation-link:focus {
  background-color: #F2F2F2;
}

.navigation-link:active {
  background-color: #E5E5E5;
}

.navigation-link-user {
  width: 42px;
  height: 66px;
  padding: 0;
}


.navigation-link-search {
  display: inline-block;
  padding: 9px 15px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
  color: #FFFFFF;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  margin-left: 19.87px;
  width: 130px;
  height: 20px;
  text-align: center;
  outline: none;
}

.navigation-link-search:hover {
  background-color: #615048;
}

.navigation-link-search:focus {
  background-color: #615048;
}

.navigation-link-search:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.navigation-link-search:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.navigation-link-current {
  position: relative;
}
.navigation-link-current::before {
  position: absolute;
  bottom: 0px;
  left: 10x;
  height: 2px;
  width: 71%;
  background-color: #756157;
  content: "";
}

.main-container {
  flex-grow: 1;
}

.main-index {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.banner {
  background-image: url(../images/image-background.jpg) ;
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 485px;
}

.welcome {
 display: block;
 padding-top: 46px;
 margin: 0 auto;
 margin-bottom: 32px;
}

.divider-text {
  margin-top: 63px;
  margin-bottom: 90px;
  min-height: 129px;
}
.divider-text h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 31px;
}
.divider-text p{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.advantages {
  text-align: center;
}

.advantages-list-middle {
  margin: 0;
  padding: 0;
  min-height: 384px;
  display: flex;
  justify-content: space-between;

}

.advantages-list-bottom {
  margin: 0;
  padding: 0;
  min-height: 384px;
  display: flex;
  justify-content: space-between;

}

.advantages-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.advantages-icon {
  padding-bottom: 30px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.advantages-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.advantages-item {
  width: 400px;
  padding-top: 80px;
  padding-bottom: 81px;
  padding-left: 85px;
  padding-right: 85px;
}

.advantages-item-blue {
  color: #FFFFFF;
  background-color: #82B3D3;
  margin: 0;
}

.advantages-item-white {
  background-color: #FFFFFF;
}

.advantages-item-white-grey  {
  background-color: #83B3D31F;
}

.advantages-item-grey {
  background-color: #83B3D333;
}

.search {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 93px;
  margin-top: 91px;
  min-height: 209px;
}

.search-block {
  display: block;
  width: 1200px;
  margin: 0;

}

.search-title {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 0;
  margin-top: 0;
}

.search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
  margin-top: 29px;
  margin-bottom: 56px;
}

.search-button {
  display: inline-block;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  background-color: #756157;
  width: 544px;
  height: 36px;
  padding: 12px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
  outline: none;
}

.search-button:hover {
  background-color: #615048;
}

.search-button:focus {
  background-color: #615048;
}

.search-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.search-button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.modal-container {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);;
}

.modal {
  position: relative;
  margin: auto;
  padding: 70px;
  background-color: #FFFFFF;
  border-radius: 30px;
}

.modal-content {
  position: relative;
}
.modal-content p {
  margin: 0px;
  padding: 0px;
}

.modal-input {
  width: 575px;

}

.modal-close-button {
  background-color: #F2F2F2;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 53px;
  height: 53px;
  display: block;
  position: absolute;
  padding: 0;
  top: 60px;
  right: 70px;
  cursor: pointer;
}

.icon-close-button {
  display: block;
  position: absolute;
  padding: 0;
  top: 20px;
  right: 20px;
  width: 13px;
  height: 13px;
  fill: #000000;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  border-color: #83B3D3;
}

.modal-close-button:active .icon-close-button{
  background-color: #E6E6E6;
  fill: gray;
}

.modal-title {
  margin: 0;
  margin-left: -2px;
  margin-bottom: 63px;
  padding: 0px;
  font-size: 30px ;
  line-height: 36px ;
  text-transform: uppercase;
}

.warning {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin: 0px;
  margin-left: 155px;
  margin-bottom: 11px;
  padding: 0px;
  padding-top: 8px;

}

.wrong-date {
  color: #FF5757;
}

.modal-number-form {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.modal-text {
  margin: 0px;
  padding: 0px;
  font-size: 20px ;
  line-height: 26px ;
}

.modal-text-adults {
  margin-right: 64px;
}

.modal-text-children {
  margin-right: 18px;
  padding-right: 31px;
}

.modal-text-children h3 {
  margin-right: 0;
  padding-right: 0;
}

.tooltip {
  position: absolute;
  margin-left: 0;
  width: 25px;
  height: 25px;
  bottom: 110px;
  right: 154px;
}

.tooltip-toggle {
  border: none;
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  fill: #83B3D3;
  display: block;
}

.tooltip-toggle:hover .tooltip-icon {
  fill: #68A2CA;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  display: block;
  width: 216px;
  position: absolute;
  top: 100%;
  margin-top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text:after {
  content:'';
  background-image: url("../images/icon/icon-tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position:absolute;
  bottom: 100%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

.field-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-date {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  height: 50px;
  width: 401px;
  border-radius: 4px;
  border: none;
  padding: 0;
  padding-left: 19px;
  outline: none;
}

.number-people {
  display: grid;
  grid-template-columns: 61px 11px 61px;
}

.number-people-adults {
  margin-right: 56px;
}

.minus {
  background-color: #F2F2F2;
  height: 50px;
  width: 61px;
  border: none;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0;
  margin: 0;
  outline: none;
  grid-column-start: 1;
  grid-column-end: 2;
  cursor: pointer;
  background-image: url("../images/icon/icon-minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: ;
  height: ;
  position: absolute;
}


.plus {
  background-color: #F2F2F2;
  height: 50px;
  width: 61px;
  border: none;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0;
  margin: 0;
  outline: none;
  grid-column-start: 3;
  grid-column-end: 4;
  cursor: pointer;
  background-image: url("../images/icon/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: ;
  height: ;

}

.form-number {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  height: 50px;
  width: 11px;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  grid-column-start: 2;
  grid-column-end: 3;

}

.search-form-button {
 display: inline-block;
 font-size: 20px;
 line-height: 36px;
 color: #FFFFFF;
 text-decoration: none;
 text-align: center;
 background-color: #83B3D3;
 width: 575px;
 height: 60px;
 padding: 0px;
 border-radius: 10px;
 outline: none;
 border: none;
 cursor: pointer;
}

.search-form-button:hover {
  background-color: #68A2CA;
}

.search-form-button:focus {
  background-color: #68A2CA;
  border-color: #756257;
}

.search-form-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.search-form-button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.search-hotel {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-container-close {
  display: ;
}

.page-footer {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}

.page-footer-newsletter {
  display: flex;
  margin: 0 auto;
  width: 1200px;
}

.newsletter {
  background-color: #000000;
  background-image: url(../images/image-background-blur.png) ;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 404px;

}

.footer-newsletter {
  color:  #FFFFFF ;
  text-align: center;
  text-transform: uppercase;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 94px;
  padding-bottom: 94px;
  width: 800px;
}

.page-footer-title {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
}

.page-footer-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 46px;
}

.newsletter-form {
  font-family: inherit;
  font-weight: 400;
  display: grid;
  grid-template-columns: 1fr auto ;
}

.field {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  height: 58px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border: none;
  padding-left: 22px;
  grid-column-start: 1;
  grid-column-end: 2;
  outline: none;
}


.button-newsletter {
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  min-width: 200px;
  border: none;
  cursor: pointer;
  padding: 0;
  text-align: center;
  outline: none;
}

.button-newsletter:hover {
  background-color: #68A2CA;
}

.button-newsletter:focus {
  background-color: #68A2CA;
}

.button-newsletter:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-newsletter:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.subscribe {
  display: inline-block;
  width: 170px;
  height: 36px;
  padding: 12px 15px;
}

.social-container {
  display: flex;
  width: 1060px;
  height: 50px;
  padding: 40px 70px 30px 70px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-social {
  display: flex;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 142px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.footer-social-link {
  display: block;
  position: relative;
  padding: 20px 20px;
  margin: 0;
  outline: none;
}

.footer-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;

}

.footer-social-link:hover .footer-icon {
  fill: #68A2CA;
}

.footer-social-link:focus .footer-icon {
  fill: #68A2CA;
}

.footer-social-link:active .footer-icon {
  fill: rgba(104, 162, 202, 0.3);
}


.footer-contacts {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-left: 194px;
  margin-right: 194px;
}

.footer-contacts h2 {
  height: 0;
  width: 0;
}

.number-tel {
  width: 331px;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
  align-self: center;
  text-decoration: none ;
  color: #000000;
  display: flex;
  outline: none;
}

.number-tel:hover {
  color: #756157;
}

.number-tel:focus {
  color: #756157;
}

.number-tel:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-developer {
  display: inline-block;
  align-self: center;
}

.footer-developer-link {
  padding: 30px;
  outline: none;
}

.developer-icon {
  margin: auto;
  fill: black;
}

.footer-developer-link:hover .developer-icon{
  fill: #756157;
}

.footer-developer-link:focus .developer-icon{
  fill: #756157;
}

.footer-developer-link:active .developer-icon{
  fill: rgba(117, 97, 87, 0.3);
}
