@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px ;
  line-height: 21px ;
  font-style: normal;
  color: #000000;
  background-color: #FFFFFF;
}

.navigation ul {
  list-style: none;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-transform: capitalize;
  text-decoration: none;
}

.navigation-link-search {
  padding: 9px 30px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
  color: #FFFFFF;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.main-index {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #FFFFFF;
  background-image: url(../images/image-background.jpg) ;
  background-size: 1200px;
  background-repeat: no-repeat;
  text-align: center;
}

.divider h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-top: 63px;
  margin-bottom: 31px;
}
.divider p{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 90px;
}

.advantages {
  text-align: center;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: ;
  margin-top: 30px;
  margin-bottom: 30px;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: ;
}

.advantages-wrapper ul {
  color: #FFFFFF;
  padding: 80px;
  background-color: #82B3D3;
}

.advantages-item-white {
  padding: 80px;
  background-color: #FFFFFF;
}

.advantages-item-white-grey  {
  padding: 80px;
  background-color: #83B3D31F;
}

.advantages-item-grey {
  padding: 80px;
  background-color: #83B3D333;
}

.search {
  font-weight: 700;
  text-transform: uppercase;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  margin-top: 91px;
}

.search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
  margin-top: 29px;
  margin-bottom: 56px;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #756157;
  padding: 12px;
  padding-left: 140px;
  padding-right: 140px;
  border-radius: 4px;
  margin-bottom: 93px;
}


.page-footer {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}
.newsletter {
  color:  #FFFFFF ;
  background-color:#000000;
  background-image: url(../images/image-background-blur.png) ;
  padding-top: 574px;
  margin-left: 93px;
  margin-top: 93px;
  background-size: 1200px;
  background-repeat: no-repeat;
  text-align: center;
  text-transform: uppercase;
}

.page-footer-title {
  font-size: 30px;
  line-height: 36px;
  margin-top: 94px;
}

.page-footer-description {
  font-size: 22px;
  line-height: 26px;
  margin-top: 29px;
  margin-bottom: 46px;
  font-weight: 400;
  text-transform: none;
}

.newsletter-form {
  margin-bottom: 94px;
}

.newsletter-form {
  font-family: inherit;
  font-weight: 400;
}
.field {
  font-family: inherit;
}
.button-newsletter-button span {
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  padding: 10px;
  border-radius: 10px;
}

.footer-social ul {
  list-style: none;
}

.number-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  margin-top: 45px;
  margin-bottom: 35px;
  margin-left: 195px;
  margin-right: 194px;
  text-align: center;
  text-transform: uppercase;
}
