@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1;
  height: 1;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px ;
  line-height: 21px ;
  font-style: normal;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.img {
  max-width: 100%;
  height: auto;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
  min-height: 65px;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.logo-link {
  outline: none;
}
.logo {
  width: 139px;
  margin-right: 30px;
  margin-left: 70px;
  margin-bottom: -10px;
  padding: 0;
}

.navigation-list {
  list-style-type: none;
  width: 460px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.navigation-user {
  width: 310px;
  margin-left: auto;
  margin-right: 70px;
  justify-content: flex-end;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link {
  background-image: url('../images/icon/icon-search.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link {
  background-image: url('../images/icon/icon-favorite.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-item {
  height: 66px;
  display: flex;
  align-items: center;
}

.navigation-link {
  display: block;
  padding: 21px 14px 21px 14px ;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
}

.navigation-link-user {
  width: 42px;
  height: 66px;
  padding: 0;
}


.navigation-link-search {
  display: inline-block;
  padding: 9px 15px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756157;
  color: #FFFFFF;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  margin-left: 19.87px;
  width: 130px;
  height: 20px;
  text-align: center;
  outline: none;
}

.navigation-link-search:hover {
  background-color: #615048;
}

.navigation-link-search:focus {
  background-color: #615048;
}

.navigation-link-search:active {
  background-color: #756157;
  color: #FFFFFF4D;
}
.navigation-link-current {
  position: relative;
}
.navigation-link-current::before {
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #756157;
  content: "";
}

.main-container {
  flex-grow: 1;
}

.main-index {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.banner {
  background-image: url(../images/image-background.jpg) ;
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 485px;
}

.welcome {
 display: block;
 padding-top: 46px;
 margin: 0 auto;
 margin-bottom: 32px;
}

.divider-text {
  margin-top: 63px;
  margin-bottom: 90px;
  min-height: 129px;
}
.divider-text h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 31px;
}
.divider-text p{
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.advantages {
  text-align: center;
}

.advantages-list-middle {
  margin: 0;
  padding: 0;
  min-height: 384px;
  display: flex;
  justify-content: space-between;

}

.advantages-list-bottom {
  margin: 0;
  padding: 0;
  min-height: 384px;
  display: flex;
  justify-content: space-between;

}

.advantages-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.advantages-icon {
  padding-bottom: 30px;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.advantages-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.advantages-item {
  width: 400px;
  padding-top: 80px;
  padding-bottom: 81px;
  padding-left: 85px;
  padding-right: 85px;
}

.advantages-item-blue {
  color: #FFFFFF;
  background-color: #82B3D3;
  margin: 0;
}

.advantages-item-white {
  background-color: #FFFFFF;
}

.advantages-item-white-grey  {
  background-color: #83B3D31F;
}

.advantages-item-grey {
  background-color: #83B3D333;
}

.search {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 93px;
  margin-top: 91px;
  min-height: 209px;
}

.search-block {
  display: block;
  width: 1200px;
  margin: 0;

}

.search-title {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 0;
  margin-top: 0;
}

.search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
  margin-top: 29px;
  margin-bottom: 56px;
}

.search-button {
  display: inline-block;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  background-color: #756157;
  width: 544px;
  height: 36px;
  padding: 12px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
  outline: none;
}

.search-button:hover {
  background-color: #615048;
}

.search-button:focus {
  background-color: #615048;
}

.search-button:active {
  background-color: #756157;
  color: #FFFFFF4D;
}

.page-footer {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}

.page-footer-newsletter {
  display: flex;
  margin: 0 auto;
  width: 1200px;
}

.newsletter {
  background-color: #000000;
  background-image: url(../images/image-background-blur.png) ;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 404px;

}

.footer-newsletter {
  color:  #FFFFFF ;
  text-align: center;
  text-transform: uppercase;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 94px;
  padding-bottom: 94px;
  width: 800px;
}

.page-footer-title {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
}

.page-footer-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 46px;
}

.newsletter-form {
  font-family: inherit;
  font-weight: 400;
  display: grid;
  grid-template-columns: 1fr auto ;
}

.field {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  height: 58px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border: none;
  padding-left: 22px;
  grid-column-start: 1;
  grid-column-end: 2;
  outline: none;
}


.button-newsletter {
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  min-width: 200px;
  border: none;
  cursor: pointer;
  padding: 0;
  text-align: center;
  outline: none;
}

.button-newsletter:hover {
  background-color: #68A2CA;
}

.button-newsletter:focus {
  background-color: #68A2CA;
}

.button-newsletter:active {
  background-color: #82B3D3;
  color: #FFFFFF4D;
}

.subscribe {
  display: inline-block;
  width: 170px;
  height: 36px;
  padding: 12px 15px;
}

.social-container {
  display: flex;
  width: 1060px;
  height: 50px;
  padding: 40px 70px 30px 70px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-social {
  display: flex;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 142px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.footer-social-link {
  display: block;
  position: relative;
  padding: 20px 20px;
  margin: 0;
  outline: none;
}

.footer-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;

}

.footer-social-link:hover .footer-icon {
  fill: #68A2CA;
}

.footer-social-link:focus .footer-icon {
  fill: #68A2CA;
}

.footer-social-link:active .footer-icon {
  color: #68A2CA4D;
}


.footer-contacts {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-left: 194px;
  margin-right: 194px;
}

.footer-contacts h2 {
  height: 0;
  width: 0;
}

.number-tel {
  width: 331px;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
  align-self: center;
  text-decoration: none ;
  color: #000000;
  display: flex;
  outline: none;
}

.number-tel:hover {
  color: #756157;
}

.number-tel:focus {
  color: #756157;
}

.number-tel:active {
  color: #7561574D;
}

.footer-developer {
  display: inline-block;
  align-self: center;
}

.footer-developer-link {
  padding: 30px;
  outline: none;
}

.developer-icon {
  margin: auto;
  fill: black;
}

.footer-developer-link:hover .developer-icon{
  fill: #756157;
}

.footer-developer-link:focus .developer-icon{
  fill: #756157;
}

.footer-developer-link:active .developer-icon{
  color: #7561574D;
}
